$defFont: 'Roboto', sans-serif;
$defBackGround: lightgray;
$defPadding: 16px;
$defBackgroundImageOpacity: 0.30;
$hoverBackgroundImageOpacity: 0.65;
$hoverBackgroundImageBorder: 3px solid black;
$defMarginTop: 30px;